@page "/tenants"
@rendermode InteractiveServer

@using Application.Interfaces
@using Domain.Entities

@inject ITenantProvider TenantProvider


<h3>Tenant Test</h3>

<p>
    Current Tenant:
    @TenantProvider.TenantName
</p>

<hr />



